<html>
<body>
<a href="/users/all"> Back To All Users </a>
<h1>{{user.name}}'s Blog Page</h1>
<a href="/{{user.name}}/blog/new"> Create New Blog </a>
<table>
    <tr>
        <th> Id </th>
        <th> View Content </th>
    </tr>
    {{#microBlogs}}
    <tr class="{{id}}">
        <td> {{id}}</td>
        <td><a href="/{{user.name}}/blog/?id={{id}}"> blog </a> </td>
    </tr>
    {{/microBlogs}}
</table>
</body>
</html>