<html>
    <body>
    <h1> User's List</h1>
    <a href="/users/new"> Create New User </a>
    <table>
        <tr>
            <th> name </th>
            <th> blog </th>
        </tr>
    {{#users}}
    <tr>
        <td class="name" >{{name}}</td>
        <td> <a href="/{{name}}/blog/all"> blog </a> </td>
    </tr>
    {{/users}}
    </table>
    </body>
</html>